* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background-color: bisque
}
footer{
    position: relative;
}
.header {
    max-height: 1100px;
}
.main__header {
    max-width: 120rem;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__navbar{
    display: none;
}
.navbar {
    list-style: none;
    display: flex;
    gap: 2rem;

}
.navegacion {
    text-decoration: none;
    color: white
}
.navegacion__navbar{
    text-decoration: none;
    color: white;
}
.navegacion__footer{
    text-decoration: none;
    color: white;
}
.video__desktop {
    position: relative;
    width: 100%;
    z-index: -1;
}
.video__mobile{
    display: none;
}
.header__texto{
    position:relative;
    text-align: center;
    color: white;
    bottom: 485px;
}
.header__texto__mobile{
    display: none;
}
.main{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.main h3{
    text-align: center;
}
.about-us {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    min-height: 550px;
    margin-bottom: 2rem;
    align-items: center;
}
.about-us__mobile{
    display: none;
}
img {
    max-width: 100%;
    border-style: none;
}
.about-us__texto{
    font-size: 60%;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.news{
font-size: 62.5%;
padding-top: 2rem;
padding-bottom: 2rem;
display: flex;
flex-direction: column;
align-items: center;
}
.enviar {
    margin-left: 3cm;
}
.main__footer{
    max-width: 120rem;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
.footer__mobile{
    display: none;
}
.footer__links{
    display: flex;
    justify-content: flex-end;
}
.li1{
    width: 105px;
}
.li2{
    width: 105px;
    margin-left: 30px;
}
.li3{
    width: 115px;
    margin-left: 30px;
}
.ul3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
}
.footer__links h6{
    color: white;
}
.li-footer {
    list-style-type: none;
    font-size: small;
}
.derechos {
    text-align: center;
    font-size: small;
    color: white;
}
.fb{

    border-radius: 10px;
}
.telegram{

    border-radius: 10px;
}
.twitter{

    border-radius: 10px;
}
.yt{

    border-radius: 10px;
}


/* Log in */


.log-in{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 7rem;
    display: grid;
    min-height: 733px;
    grid-template-columns: 50% 50%;
}
.log-in__inicio{
    align-self: center;
    justify-self: end;
    font-size: 75%;
}
.log-in__tittle{
    margin-bottom: 2rem;
}
.log-in__email{
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 10px;
    margin-bottom: 1rem;
}
#email{
    padding: 2px 5px 2px 5px;
}

.log-in__password{
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 10px;
    margin-bottom: 1rem;
}
#pass{
    padding: 2px 5px 2px 5px;
}
.log-in__terminos{
    margin-left: 1rem;
    display: flex;
    position: relative;
}
.checkbox{
    position:absolute;
    right: 102%;
    bottom: 30%;
    width: 20px;
    height: 20px;
}
.log-in__button{
    padding: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 24px;
    width: 75px;
}
.log-in__links{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
.log-in__qr{
    padding-left: 4rem;
    align-self: center;
    justify-self: start;
    font-size: 60%;
    text-align: center;
    width: 350px;
}


/* Products */


.products{
    font-size: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: grid;
    min-height: 733px;
    grid-template-columns: 20% 80%;
    justify-content: center;
    gap: 2rem;
    
}
.products__tittle{
    text-align: center;
}
.filtros{
    list-style: none;
    padding-top: 2rem;
    text-align: center;
}
.products__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 20px;
    padding-top: 2.5rem;
}


/* Contact us */


.contact-us {
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 12rem;
    padding-bottom: 10rem;
    display: grid;
    min-height: 733px;
    grid-template-columns: 40% 50%;
    justify-items: center;
    gap: 6rem;
}
.contact-us__form{
    width: 360px;
    height: 415px;
    border: 2px solid #555;
    padding: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 40% 20% ;
    grid-template-areas: 
    "ele1 ele2"
    "ele3 ele4"
    "ele5 none"
    "ele6 ele6";
    position: relative;
}
.nombre{
    grid-area: ele1;
    width: 150px;
    height: 40px;
    padding: 8px;
}
.apellido{
    grid-area: ele2;
    width: 150px;
    height: 40px;
    padding: 8px;
}
.telefono{
    grid-area: ele3;
    width: 150px;
    height: 40px;
    padding: 8px;
}
.email{
    grid-area: ele4;
    width: 150px;
    height: 40px;
    padding: 8px;
}
.comentario{
    grid-area: ele5;
    width: 330px;
    padding: 8px;
}
.contact-us__enviar{
    grid-area: ele6;
    width: 252px;
    height: 40px;
    padding: 10px 36px;
    position: absolute;
    bottom: 5%;
    left: 10%;
    background-color: #ff873a;
    color: #fff;


}
.contact-us__maps {
    display: flex;
    font-size: 70%;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.capital p{
    margin: 0;
}


/* FAQ */


.soporte{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10rem;
}
.soporte__background{
    width: 100%;
    height: 500px;
    background-image: url(../img/faq.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.soporte__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.soporte__search {
    width: 684px;
    height: 48px;
    padding: 12px 48px 12px 64px;
    border-radius: 16px;
}
.soporte__cuadro1{
    margin-top: 8rem;
    position: relative;
}
.search {
    position: absolute;
    bottom: 9%;
    left: 2%;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}
.search__img{
    height: 35px;
    border-radius: 16px;
}
.soporte__productos {
    padding-left: 2rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 400px; */
    font-size: 70%;
    position: relative;
}
.soporte__search2 {
    width: 352px;
    height: 48px;
    padding: 12px 24px 12px 64px;
    border-radius: 16px;
}
.soporte__cuadro2{
    margin-top: 2rem;
    position: relative;
}
.search2 {
    position: absolute;
    bottom: 12%;
    left: 4%;
    border-radius: 16px;
    border: none;
    cursor: pointer;
}
.search2__img{
    height: 35px;
    border-radius: 16px;
}

@media screen and (max-width: 1023px) {

/*index */


.header {
    max-height: 500px;
}
.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar {
    display: flex;
    gap: 1.9rem;
}
.video__desktop{
    display: none;
}
.video__mobile{
    display: block;
    height: 30%;
}
.header__texto{
    display: none;
}
.header__texto__mobile{
    display: grid;
    padding-top: 12rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    font-size: 50%;
}
.about-us{
    display: none;
}
.about-us__mobile {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    /* min-height: 550px; */
    margin-bottom: 2rem;
}
.about-us__texto{
    font-size: 60%;
}

/*log in*/


.checkbox{
    right: 102%;
    bottom: 60%;
}

/*Products*/

.products{
    padding-top: 15rem;
}


/*FAQ*/

.soporte{
    padding-top: 14rem;
}
.soporte__search {
    width: 580px;
}

}

@media screen and (max-width: 600px){

    .main__header{
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu__navbar{
        display: block;
}
    .nav__hide{
        display: none;
}

/*index*/


    .bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

}
    .navegacion{
        font-size: 50%;
}
    .footer{
    display: none;
}
    .footer__mobile{
    display: flex;
    justify-content: center;
}
    .li3{
    width: 115px;
    margin-left: 0px;
}
    .header__texto__mobile{
    display: flex;
    padding-top: 6rem;
    font-size: 50%;
    padding-left: 1rem;
}
    .header__texto__mobile h2{
    text-align: center;
    font-size: xx-large;
}
    .video__mobile {
    display: none;
}
    .main h3 {
    font-size: smaller;
}
    .about-us__mobile {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2rem;
    margin-bottom: 2rem;
    align-items: baseline;
}
    .img__mobile{
        height: 100%;
        
}

/*log in*/


.log-in{
    display: flex;
    padding-top: 0;
    min-height: 718px;
}
.log-in__qr{
    display: none;
}

/* Contact Us*/

.contact-us {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.maps{
    width: 250px;
}
.contact-us__form {
    width: 280px;
}
.nombre{
    width: 115px;
}
.apellido{
    width: 115px;
}
.telefono{
    width: 115px;
}
.email{
    width: 115px;
}
.comentario{
    width: 250px;
}
.contact-us__enviar{
    width: 250px;
    bottom: 5%;
    left: 1%;
}

/*Products*/

.products{
        font-size: 0.8rem;
        padding-top: 6rem;
}
.products__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/*FAQ*/

.soporte{
    padding-top: 5rem;
}
.soporte__background {
    height: 360px;
    background-size: auto;
}
.soporte__main{
    font-size: 1rem;
}
.soporte__tittle {
    margin-top: 25px;
}
.soporte__search {
    width: 240px;
}
.soporte__cuadro1 {
    margin-top: 3rem;
}
.soporte__productos{
    font-size: 0.8rem;
}
.soporte__productos p{
    padding-left: 1rem;
}
.soporte__search2 {
    width: 240px;
}
}