/* Contact us */


.contact-us {
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 5rem;
    display: grid;
    min-height: 650px;
    grid-template-columns: 40% 50%;
    justify-items: center;
    align-items: center;

    &__form{
        background: #191c29;
        width: 360px;
        height: 415px;
      padding: 1rem;
      position: relative;
      border-radius: 6px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 40% 20%;
        grid-template-areas:
            "ele1 ele2"
            "ele3 ele4"
            "ele5 none"
            "ele6 ele6";
    
            &::before {
                content: "";
                width: 104%;
                height: 102%;
                border-radius: 8px;
                background-image: linear-gradient(
                  var(--rotate)
                  , #5ddcff, #3c67e3 43%, #4e00c2);
                  position: absolute;
                  z-index: -1;
                  top: -1%;
                  left: -2%;
                  animation: spin 2.5s linear infinite;
              }

              &::after {
                position: absolute;
                content: "";
                top: calc(415px / 6);
                left: 0;
                right: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                margin: 0 auto;
                transform: scale(0.8);
                filter: blur(calc(415px / 6));
                background-image: linear-gradient(
                  var(--rotate)
                  , #5ddcff, #3c67e3 43%, #4e00c2);
                  opacity: 1;
                transition: opacity .5s;
                animation: spin 2.5s linear infinite;
              }
    }
    
    &__enviar {
        grid-area: ele6;
        width: 252px;
        height: 40px;
        position: absolute;
        bottom: 5%;
        left: 10%;
    }
    
    &__maps {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

.nombre{
    grid-area: ele1;
    width: 150px;
    height: 40px;
    padding: 8px;
}

.apellido{
    grid-area: ele2;
    width: 150px;
    height: 40px;
    padding: 8px;
}

.telefono{
    grid-area: ele3;
    width: 150px;
    height: 40px;
    padding: 8px;
}

.email{
    grid-area: ele4;
    width: 150px;
    height: 40px;
    padding: 8px;
}

.comentario{
    grid-area: ele5;
    width: 330px;
    padding: 8px;
}

.capital p{
    margin: 0;
}