@media screen and (max-width: 600px){


    /* NAV */

    .theme-switch-wrapper em {
        display: none;
    }
    .nav{
        font-size: 14px;
    }
    
    /* FOOTER */
    
    .footer {
        display: none;
    
        &__mobile{
            @include flex(row, center, normal);
            padding-top: 1rem;
        }
    }
    
    .li3{
        width: 115px;
        margin-left: 0px;
        text-align: center;
    }
    
    /* INDEX */
    
    .about-us__texto{
        padding-top: 3rem;
    }

    .about-us__mobile{
        @include flex(column, normal, normal);
        margin-top: 2rem;

    }   
    
    .img__mobile{
        height: 100%;        
    }
    
    .news{
        width: 80%;
    }
    
    
    /* LOG IN */
    
    
    .log-in{
        @include flex(row, normal, normal);
        padding-top: 0;
        min-height: 718px;
        padding-left: 3rem;
    
        &__qr{
            display: none;
        }
    }
    
    
    /* CONTACT */
    
    .contact-us {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    
        &__form {
            width: 280px;
            margin-bottom: 3rem;
        }
    
        &__enviar{
            width: 250px;
            bottom: 5%;
            left: 1%;
        }
    }
    
    .nombre{
        width: 115px;
    }
    
    .apellido{
        width: 115px;
    }
    
    .telefono{
        width: 115px;
    }
    
    .email{
        width: 115px;
    }
    
    .comentario{
        width: 250px;
    }
    
    .maps{
        width: 250px;
    }

    .capital {
        width: 250px;
    }
    
    /* PRODUCTS */
    
    .products{
        @include flex(column, center, normal);
        font-size: 0.8rem;
        padding-top: 1rem;
        gap: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 2rem;
    
            &__content {
                @include flex(column, normal, normal);
                gap: 2rem;
            }
            &__tittle{
                font-size: 1rem;
            }

            &__filter{
                display: none;

                &-mobile{
                    display: block;
                    text-align: center;
                    font-size: 1rem;

                    &-boton{
                        color: var(--font-color);
                    }

                }
            }
    }

    
    /* FAQ */
    
    .soporte{
        padding-top: 5rem;
    
        &__background {
            height: 360px;
            background-size: auto;
        }
        &__main{
            font-size: 1rem;
        }
        &__tittle {
            margin-top: 25px;
        }
        &__search {
            width: 240px;
            font-size: 13.7px;
        }
        &__cuadro1 {
            margin-top: 3rem;
        }
        &__productos{
            font-size: 0.8rem;
    
            & p{
                padding-left: 1rem;
            }
        }
    
        &__search2 {
            width: 240px;
            font-size: 10.9px;
        }
    }
    }