@media screen and (max-width: 1023px) {

    /* INDEX */
    
    .about-us{
        display: none;
    
        &__mobile {
            display: flex;
            margin-top: 2rem;
            column-gap: 2rem;
        }

        &__imagen {
            align-self: center;
        }
    }
    
    .sub {
        flex-direction: column;
    }
    
    .news{
        width: 50%;
    }
    
    /* LOG IN */
    
    .checkbox{
        right: 102%;
        bottom: 60%;
    }
    
    /* PRODUCTS */
    
    .products{
        padding-top: 5rem;
        
        &__div {
            padding-right: 0;
        }
    }
    
    /* CONTACT */
    
    .contact-us{
        gap: 6rem;
        padding-bottom: 2rem;
    }
    
    /* FAQ */
    
    .soporte{
        padding-top: 14rem;
        &__search {
            width: 580px;
        }
    }
    }