:root {
    --font-color: #424242;
    --bg-color: #f4f4f4;
    --border: none;
}

[data-theme="dark"] {
    --font-color: #e1e1ff;
    --bg-color: #212529;
    --border: #646669 2px solid;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

  $color-dorado: rgb(252, 213, 53);

/* MAPS */

$redes:(
    twitter: #1d9bf0,
    facebook: #2374e1,
    github: #161b22
);

@each $red, $color in $redes{
    .btn--#{$red}{
        color: $color;
        border-color: $color;
    }
}

/* MIXIN */

@mixin flex($flexdir, $justcont, $alitems){
    display: flex;
    flex-direction: $flexdir;
    justify-content: $justcont;
    align-items: $alitems;
}


