:root {
    --font-color: #424242;
    --bg-color: #ffe4c4;
    --bg-contact: #998976;
    --border: none;
}

[data-theme="dark"] {
    --font-color: #e1e1ff;
    --bg-color: #212529;
    --bg-contact: #646669;
    --border: #646669 2px solid;
}

/* MAPS */

$redes:(
    twitter: #1d9bf0,
    facebook: #2374e1,
    github: #161b22
);

@each $red, $color in $redes{
    .btn--#{$red}{
        color: $color;
        border-color: $color;
    }
}

$color-dorado: rgb(252, 213, 53);
